<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Panel de Administración</title>
    <link rel="stylesheet" href="/css/styles.css" />
    <link
      rel="shortcut icon"
      href="/img/LogoRC.ico"
      type="image/x-icon"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
    />
  </head>

  <body>
    <header>
      <h1>Panel de Administración</h1>
    </header>

    <main>
      <div  id="app">
        <div class="add-product-button">
          <button onclick="location.href='agregar_producto.html'">
            <i class="fas fa-plus"></i> Agregar Producto
          </button>
        </div>

      <table>
            <thead>
              <tr>
                <th>ID</th>
                <th>Descripción</th>
                <th>Precio</th>
                <th>Cantidad</th>
                <th>Imagen</th>
                <th>Acciones</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="producto in productos">
                <td data-label="ID">{{producto.id}}</td>
                <td data-label="Descripción">{{producto.descripcion}}</td>
                <td data-label="Precio">{{producto.precio}}</td>
                <td data-label="Cantidad">{{producto.cantidad}}</td>
                <td data-label="Imagen">
                    <img :src="producto.imagen" alt="" class="product-image">
                </td>
                <td data-label="Acciones">
                  <div class="actions">
                    <a :href="'editar_producto.html?id=' + producto.id + '&descripcion=' + producto.descripcion + '&precio=' + producto.precio + '&cantidad=' + producto.cantidad + '&imagen=' + producto.imagen"
                    class="edit">
                   <i class="fas fa-edit"></i>EDITAR
                 </a>
                    <button class="delete" v-on:click="eliminar(producto.id)">
                      <i class="fas fa-trash-alt"></i>BORRAR
                    </button>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
          <p> . </p>
      </div>
    </main>

    <footer>
            <p>&copy; 2024 Rocco Couture. Todos los derechos reservados.</p>
    </footer>

    <script src="/js/scripts.js"></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="/js/tabla_producto.js"></script>
  </body>
</html>
